@model lesson_08_01_blog.ViewModels.ChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
    <label asp-for="OldPassword">Olg Password</label>
    <input type="password" asp-for="OldPassword">
    
    <label asp-for="NewPassword">New Password</label>
    <input type="password" asp-for="NewPassword">
    
    <button class="btn btn-dark" type="submit">Change</button>
</form>